
.cell {
    background: #f0f0f0;
    border-style: outset;
    border-color: grey;
    border-width: 3px;
    text-align: center;
    font-size: .8em;
    font-weight: bold;
    vertical-align: bottom;
}

.revealed {
    @extend .cell;
    background-color: #b0b0b0;
    border-style: inset;
}

.green {
    color: green;
}

.red {
    color: #b60b2e;
}

.blue {
    color: dodgerblue;
}

.bomb {
    @extend .revealed;
    background-color: red;
    background-image: url("assets/bomb.svg");
    background-size: 100%;
}
