.GameCanvas {
    width: 100vw;
    height: 100vh;
}

.Leaderboard {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-weight: bold;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  padding: 10px;

  ul {
    padding: 0;
    list-style: none;
  }
}