.grid {
  width: 100%;
  display: table;
  vertical-align: middle;
  text-align: center;
}

.leaderboard {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-weight: bold;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  padding: 10px;

  ul {
    padding: 0;
    list-style: none;
  }
}

.title {
  width: 100%;
  text-align: center;
}