.menu {
  display: table;
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
}

.menu-item {
  display: block;
  margin: 20px;

  * {
    width: 100%;
    box-sizing: content-box;
  }
}

